{
  schema: {
    files: 'src/graphql/generated/schema.graphql'
  },
  query: {
     files: [
       {
         match: ['src/**/*.ts', 'src/**/*.tsx'],
         parser: ['EmbeddedQueryParser', { startTag: 'gql`', endTag: '`' }],
       }
     ]
   }
}